<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @doctor.department %>
</p>
<ul>
<% @doctor.appointments.each do |a| %>
	<li>
	<h3><%=a.readable_time%> -</h3>
	<%=link_to a.patient.name ,patient_path(a.patient) %> 
	</li>
    
<%end%>

</ul>
<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
